*{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

/* First Page */
.depart{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.content_depart{
  display: flex;
  /* display: none; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fcbf32;
  border-radius: 5px;
}

.content_depart h1{
  margin: 30px 0;
}

.content_depart p{
  font-size: 18px;
  padding: 0 20px;
  margin: 20px 0;
  font-weight: 600;
}

.content_depart button{
  cursor: pointer;
  margin: 20px;
  padding: 8px 30px;
  border: 0;
  background: rgba(15, 15, 15, 0.9);
  color: white;
  font-weight: 600;
}
.butn:hover{
  background-color: black;
  color: white;
}
/* End First Page */

.inpt_name{
  /* display: flex; */
  display: none;
  flex-direction: column;
  padding: 10px 15px;
  background-color: #fcbf32;
  width: auto;
  height: 200px;
}

.inpt_name h1{
  margin: 20px auto;
}

.inpt{
  display: flex;
  margin: 10px 0;
}

.first_inpt,
.second_inpt{
  display: flex;
  flex-direction: column;
}

.first_inpt{
  margin-right: 15px;
}

.first_inpt input,
.second_inpt input{
  padding: 5px 10px;
  margin-top: 5px;
  width: 200px;
  border: 0;
  outline: none;
}

.butn{
  background: rgba(15, 15, 15, 0.9);
  color: white;
  border: 0;
  padding: 5px 25px;
  border-radius: 5px;
  margin: 15px 0;
  cursor: pointer;
}

.butn:hover{
  background-color: black;
  color: white;
}